.nav {
  display: flex;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.link {
  text-decoration: none;
  color: black;
}

.navMenu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navItem,
.auth,
.cart {
  padding: 10px;
}

.auth:hover,
.cart:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.h1 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin: 0;
}

.red {
  color: red;
}

.isActive {
  background-color: pink;
}

.notActive {
  background-color: black;
}

.navItem {
  font-weight: 500;
  color: gray;
}

.navItem:hover,
.active {
  color: black;
}

.icon {
  width: 1.7rem;
  height: auto;
}

.logout {
  cursor: pointer;
  padding: 0;
}

.logout button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  padding: 10px;
  cursor: pointer;
}

.menuBtn {
  padding: 3px;
  display: none;
}

.menuPiece {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 5px 0;
  border-radius: 30px;
}

.middleBar {
  width: 25px;
}

.menuBtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.crossBtn {
  text-align: center;
  width: 35px;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 700;
}
.crossBtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 575.98px) {
  .navMenu {
    display: none;
  }
  .menuBtn {
    display: inline-block;
  }
  .show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    background-color: white;
    border-bottom: 1px solid red;
    width: 100%;
    align-items: flex-end;
  }
  .navItem,
  .auth,
  .cart {
    margin-right: 1rem;
  }
}
