.browseCategories {
  margin-top: 5rem;
}

.browseCategories h2 {
  text-align: center;
  font-size: 3rem;
}

.categoriesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.categoryName {
  position: relative;
  top: -20%;
  left: 5%;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.category {
  width: 35%;
  cursor: pointer;
}

.image {
  width: 100%;
  min-height: 270px;
  border-radius: 5px;
}

@media (max-width: 575.98px) {
  .browseCategories h2 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .categoriesContainer {
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }
  .category {
    width: 90%;
    position: relative;
  }
  .categoryName {
    position: absolute;
    z-index: 20;
    top: 75%;
  }
  .browseCategories {
    margin-bottom: 4rem;
  }
}
