.productContainer {
  width: 15%;
  text-align: center;
}
.image {
  width: 100%;
  height: 230px;
}

.priceRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: red;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.red {
  background-color: red;
}

.seeDetailsBtn {
  background-color: rgb(52, 112, 243);
}

@media (max-width: 575.98px) {
  .productContainer {
    width: 80%;
  }
  .image {
    width: 60%;
    height: auto;
    max-height: 250px;
  }
  .priceRating {
    margin: 1rem auto 1rem auto;
    width: 80%;
  }
}
