.FallbackContainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: 4px solid grey;
  border-top: 4px solid rgb(60, 137, 238);
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  min-height: 40vh;
}
