.footer {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: black;
  color: white;
  width: 100%;
  height: 17rem;
}

.upperContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.links,
.newsLetter {
  width: 25%;
}

.link,
.columnHeading {
  text-align: center;
  text-decoration: none;
  color: white;
}

.columnHeading {
  margin-top: 0;
  color: grey;
  margin-bottom: 0.4rem;
}

.columnHeading:hover {
  color: whitesmoke;
}

.credits {
  text-align: center;
  margin: 0;
  margin-top: 1.1rem;
}

.credits .love {
  color: red;
}

.credits .name {
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.column {
  width: 25%;
}

.h1 {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin: 0;
  text-align: center;
}

.red {
  color: red;
}

.newsLetter form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subBtn,
.subEmailInput {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

.subEmailInput {
  width: 80%;
}

.subBtn {
  background-color: red;
  color: white;
}

@media (max-width: 575.98px) {
  .footer {
    height: auto;
    padding-bottom: 0.5rem;
  }
  .h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .columnHeading {
    font-size: 1.1rem;
  }
  .upperContainer {
    flex-direction: column;
    row-gap: 1rem;
  }
  .links,
  .newsLetter {
    width: 80%;
  }
  .link {
    margin-bottom: 0.5rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .links {
    display: none;
  }
  .column {
    width: 50%;
  }
  .compShown,
  .legalShown {
    display: flex;
    width: 100%;
  }
}
